<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
    <script src='https://api.mapbox.com/mapbox-gl-js/v2.13.0/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.13.0/mapbox-gl.css' rel='stylesheet' />
</head>
<body>
    @*<div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    </button>
                    @Html.ActionLink("Panda", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                    </ul>
                </div>
            </div>
        </div>*@

    <header class="header-navigation">
        <div class="header-left">
            <img class="header-image" src="~/Content/images/PandaLogo.png" />
            <a href="Home">Головна</a>
            <a href="Ads">Оренда</a>
            <a>Про нас</a>
        </div>
        <div class="header-right">
            <a>
                <img class="header-icon" src="~/Content/images/Likes.png" />
            </a>
            <a>
                <img class="header-icon" src="~/Content/images/Profile.png" />
            </a>
        </div>
    </header>

    <div class="body-content">
        @RenderBody()
    </div>

    <footer>
        <div class="footer-body"></div>
    </footer>

    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>