

/* Set padding to keep content from hitting the edges */
.body-content {
    padding: 4.5rem 3rem 3rem 3rem;
    display: flex;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

header {
    height: 4rem;
    width: -webkit-fill-available;
    margin: 0 2rem 0 2rem;
    vertical-align: central;
    overflow: hidden;
    font-size: 1.2rem;
    border-bottom: rgba(46, 119, 88, 0.8);
    position: fixed;
    background-color: #fef9f3;
}

    header a {
        float: left;
        color: rgba(32, 28, 27, 1);
        /*height: 2.5rem;*/
        padding: 1.75rem 1rem 0.25rem 1.5rem;
        /*line-height: 25px;*/
        /*border-radius: 4px;*/
        text-decoration: none;
    }

header a.logo {
        
    font-size: 25px;
    font-weight: bold;
}

header a:hover {
    color: #2E7758;
    font: bold;
}

.header a.active {
    color: #2E7758;
    font: bold;
}

.header-right {
    float: right;
}

.header-left {
    float: left;
}

.header-navigation {
    border-bottom: 2px solid #2e7758;
    padding-bottom: 0.5rem;
    margin: 0 3rem 0 3rem;
    vertical-align: central;
    
}

.header-image {
    float: left;
    padding-top: 0.5rem;
    height: 3rem;
    opacity: 0.8;
}

.header-icon {
    height: 1.6rem;
}

footer {
    min-height: 3rem;
    width: 100%;
    position: fixed;
    bottom: 0;
    /*padding: 0 2rem 0 2rem;*/
    vertical-align: central;
    overflow: hidden;
    font-size: 1rem;
    background-color: #fef9f3;
}

.footer-body {
    margin: 0 3rem 0 3rem;
    border-top: 2px solid rgba(46, 119, 88, 0.8);
}

footer span {
    padding: 1.75rem 1rem 0.25rem 1rem;
    float: left;
    color: #201C1B;
}

@media screen {
    html {
        height: 100%;
        width: auto;
    }
}


body {
    margin: 0;
    font-family: 'Cambria Math';
    color: rgba(32, 28, 27, 0.8);
    background: #fef9f3;
    height: 100%;
    background-size: cover;
}



.full-height {
    height: 100%;
}

.logo {
    font-size: 30px;
    font-weight: bold;
    color: #505050
}

#map {
    background: white;
    flex: 1;
    position: sticky;
    height: 100vh;
    overflow: hidden;
    bottom: 4rem;
    top: 4.6rem;
    right: 3rem;
}

.home-h1 {
    color: rgba(32, 28, 27, 0.8);
    font-size: 3.5rem;
    font-stretch: extra-expanded;
}

.home-h3 {
    color: rgba(46, 119, 88, 0.8);
    font-size: 1.25rem;
    font-stretch: extra-expanded;
    /*vertical-align: central;*/
    font-weight: 100;
}

button {
    color: #fef9f3;
    background: rgba(46, 119, 88, 0.8);
    border: 0px;
}

.btn-home {
    vertical-align: bottom;
    font-size: 1.25rem;
    padding: 0.75rem 3rem 0.75rem 3rem;
    border-radius: 1rem;
}

.ads-container{
    margin: 0rem 1rem 1rem 0rem;
    padding: 1rem;
    height: 15rem;
    background-color: white;
}

.ads-gallery{
    width: 60%;
}
.ads-info{
    width: 40%;
    word-break: break-word;
}

.ads-info-icon {
    height: 1.25rem;
    vertical-align: bottom;
}



