@model List<Panda.Models.Ad>

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Rieltor.ua Ad URLs</title>
</head>
<body>
    <div class="home">
        <div class="home-text">
            <h1 class="home-h1">
                PANDA
            </h1>
            <h3 class="home-h3">
                допоможе знайти квартиру <br/> мрії
            </h3>
            <br />
            <br />
            @Html.ActionLink("Шукати", "Index", "Ads", null, new {@class = "btn btn-home"})
        </div>
        <div class="home-image-container">
            <img src="~/Content/images/Panda.png" style="float: right; vertical-align: baseline;"/>
        </div>
    </div>

</body>
</html>