@model List<Panda.Models.Ad>

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Rieltor.ua Ad URLs</title>
</head>
<body>
    <div>
        <div style="float:left">
            <h1>
                PANDA
            </h1>
            <h3>
                Допоможе знайти квартиру <br/> мрії
            </h3>
            <button>
                Шукати
            </button>
        </div>
        <div style="float:right;">
            <img src="~/Content/images/Panda.png" style="width: 75%; float: right;/>
        </div>
    </div>

</body>
</html>