@model List<Panda.Models.Ad>

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Rieltor.ua Ad URLs</title>
</head>
<body>
    <h1>
        Знаходь квартири з PANDA
    </h1>
    <h3>
        Дивитисть перелік квартир ->
    </h3>
</body>
</html>